src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDEB/DEF-RDEB.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RDEB-JG.xsd"/>
    <xs:include schemaLocation="DEF-RDEB-TS.xsd"/>

    <xs:complexType name="tRaportEnergiiBilansujacej">
        <xs:sequence>
            <xs:element name="JG" type="tDaneIdentyfikacyjneEnergiiBilansujacej" maxOccurs="unbounded"/>
            <xs:element name="TS" type="tSerieDanychEnergiiBilansujacej"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>