src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDEB/DEF-RDEB-JG.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RDEB-EBJ.xsd"/>

    <xs:complexType name="tDaneIdentyfikacyjneEnergiiBilansujacej">
        <xs:sequence>
            <xs:element name="KDUB" type="tKodDostawcyUslug"/>
            <xs:element name="KJG" type="tKodJednostkiGrafikowej"/>
            <xs:element name="EBJ" type="tDaneIloscioweEnergiiBilansujacej"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>