src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDEB/DEF-RDEB-TSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RDEB-T.xsd"/>

    <xs:complexType name="tZawartoscDanychEnergiiBilansujacej">
        <xs:sequence>
            <xs:element name="DT" type="tOkres"/>
            <xs:element name="R" fixed="PT15M" type="xs:string"/>
            <xs:element name="T" type="tDaneWPunkcieEnergiiBilansujacej" minOccurs="92" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>