src/xmlProvider/xsd/DEF_RBUS/DEF_RDEW/DEF_RDEW_EWMB/DEF-EWMB-TS.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-EWMB-TSP.xsd"/>

    <xs:complexType name="tSeriaDanychDlaMB">
        <xs:sequence>
            <xs:element name="PT" fixed="MO" type="xs:string"/>
            <xs:element name="BT" type="tMocyBilansujacej" />
            <xs:element name="TSP" type="tZawartoscDanychNaPunktyCzasoweMB"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>