src/xmlProvider/xsd/DEF_RBUS/DEF_RDEW/DEF_RDEW_EWEN/DEF-EWEN-TS.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-EWEN-TSP.xsd"/>

    <xs:complexType name="tSeriaDanychDlaEN">
        <xs:sequence>
            <xs:element name="PT" fixed="EN" type="xs:string"/>
            <xs:element name="TSP" type="tZawartoscDanychNaPunktyCzasoweEN"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>