src/xmlProvider/xsd/DEF_RBUS/DEF_RDEW/DEF_RDEW_EWEB/DEF-EWEB-CW.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="../../DEF-COMMON-RBUS.xsd"/>

    <xs:complexType name="tCenyWymuszone">
        <xs:sequence>
            <xs:element name="NPM" type="tNumerPasma"/>
            <xs:element name="CWD" type="tCenaZaEnergie"/>
            <xs:element name="CWO" type="tCenaZaEnergie"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>