src/xmlProvider/xsd/DEF_SPR/DEF_RHER/DEF_RHER_FDMBS/DEF_RHER_ALG/DEF-FDMBS-ALG.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-FDMBS-ALG-TS.xsd"/>
    <xs:include schemaLocation="DEF-FDMBS-ALG-TSK.xsd"/>

    <xs:complexType name="tDaneRozliczenioweAlgorytmFDMBS">
        <xs:sequence>
            <xs:element name="KALG" type="tKodAlgorytmu"/>
            <xs:element name="TS" type="tGrafikAlgorytmuFDMBS"/>
            <xs:element name="TSK" type="tGrafikPoborOddanieFDMBS"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>