src/xmlProvider/xsd/DEF_RBUS/DEF_RHK/DEF_RHK_RHRO/DEF-RHRO-ROJ.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="../../DEF-COMMON-RBUS.xsd"/>

    <xs:complexType name="tDaneIloscioweROJ">
        <xs:sequence>
            <xs:element name="RR" type="tTypRozliczeniaDekady"/>
            <xs:element name="RORE" type="tWielkoscRezerwy"/>
            <xs:element name="CORE" type="tCenaDekadowa" minOccurs="0"/>
            <xs:element name="NROE" type="tNaleznosc"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>