src/xmlProvider/xsd/DEF_RBUS/DEF_RH/DEF_RH_RHEN/DEF-RHEN-JB.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RHEN-ENJ.xsd"/>

    <xs:complexType name="tDaneJBEnergiiNiezbilansowania">
        <xs:sequence>
            <xs:element name="KPOB" type="tKodPodmiotuBilansujacego"/>
            <xs:element name="KJB" type="tKodJednostkiBilansowej"/>
            <xs:element name="ENJ" type="tDaneIloscioweENJ"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>