src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDRO/DEF-RDRO-T.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RDRO-TRO.xsd"/>

    <xs:complexType name="tDaneWPunkcieRezerwyOperacyjnej">
        <xs:sequence>
            <xs:element name="P" type="tNumerPozycjiDlaPT15M"/>
            <xs:element name="TRO" type="tCenyRO"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>