src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDRO/DEF-RDRO-TRO.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="../../DEF-COMMON-RBUS.xsd"/>

    <xs:complexType name="tCenyRO">
        <xs:sequence>
            <xs:element name="COR" type="tCenaRozliczeniowa"/>
            <xs:element name="COR_RR" type="tCenaRozliczeniowa" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>