src/xmlProvider/xsd/DEF_RBUS/DEF_RDEW/DEF_RDEW_PM/DEF-PM-T.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-PM-PPM.xsd"/>

    <xs:complexType name="tDaneIloscioweWPunkciePM">
        <xs:sequence>
            <xs:element name="P" fixed="1" type="xs:integer"/>
            <xs:element name="PPM" type="tParametryPasmaMocy" maxOccurs="10"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>