src/xmlProvider/xsd/DEF_RBUS/DEF_RDEW/DEF_RDEW_PM/DEF-PM-TSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-PM-T.xsd"/>

    <xs:complexType name="tZawartoscDanychNaPunktyCzasowePM">
        <xs:sequence>
            <xs:element name="DT" type="tOkres"/>
            <xs:element name="R" fixed="PT1D" type="xs:string"/>
            <xs:element name="T" type="tDaneIloscioweWPunkciePM"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>