src/xmlProvider/xsd/DEF_RBUS/DEF_RDEW/DEF_RDEW_PM/DEF-PM-TS.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-PM-TSP.xsd"/>

    <xs:complexType name="tSeriaDanychDlaPM">
        <xs:sequence>
            <xs:element name="PT" fixed="PPM" type="xs:string"/>
            <xs:element name="TSP" type="tZawartoscDanychNaPunktyCzasowePM"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>