src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDMB/DEF-RDMB-MBJ.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="../../DEF-COMMON-RBUS.xsd"/>

    <xs:complexType name="tDaneIloscioweMocyBilansujacych">
        <xs:sequence>
            <xs:element name="BT" type="tMocyBilansujacej"/>
            <xs:element name="MBPUD" type="tIloscEnergii"/>
            <xs:element name="CMBPUD" type="tCenaDobowa" minOccurs="0"/>
            <xs:element name="NMBPUD" type="tNaleznosc"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>