src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDMB/DEF-RDMB-JG.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RDMB-MBJ.xsd"/>

    <xs:complexType name="tDaneIdentyfikacyjneMocyBilansujacych">
        <xs:sequence>
            <xs:element name="KDUB" type="tKodDostawcyUslug"/>
            <xs:element name="KJG" type="tKodJednostkiGrafikowej"/>
            <xs:element name="MBJ" type="tDaneIloscioweMocyBilansujacych" maxOccurs="8"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>