src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDMB/DEF-RDMB.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RDMB-JG.xsd"/>
    <xs:include schemaLocation="DEF-RDMB-TS.xsd"/>

    <xs:complexType name="tRaportMocyBilansujacych">
        <xs:sequence>
            <xs:element name="JG" type="tDaneIdentyfikacyjneMocyBilansujacych" maxOccurs="unbounded"/>
            <xs:element name="TS" type="tSerieDanychMocyBilansujacych"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>