src/xmlProvider/xsd/DEF_SPR/DEF_RHER/DEF_RHER_COMMON/DEF-RHER-TR.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="../../DEF-COMMON-SPR.xsd"/>

    <xs:complexType name="tDaneIloscioweTR">
        <xs:sequence>
            <xs:element name="P" type="tNumerPozycjiDlaPT15M"/>
            <xs:element name="WD" type="tWartoscEnergiiRzeczywistej"/>
            <xs:element name="SD" type="tStatusWartosciEnergii"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>