src/xmlProvider/xsd/DEF_SPR/DEF_RHER/DEF_RHER_COMMON/DEF-RHER-TSPR.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RHER-TR.xsd"/>

    <xs:complexType name="tDaneNaPunktyCzasoweTSPR">
        <xs:sequence>
            <xs:element name="DT" type="tOkres"/>
            <xs:element name="R" fixed="PT15M" type="xs:string"/>
            <xs:element name="TR" type="tDaneIloscioweTR" minOccurs="92" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>