src/xmlProvider/xsd/DEF_RBUS/DEF_RD/DEF_RD_RDEN/DEF-RDEN-T.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RDEN-TEN.xsd"/>

    <xs:complexType name="tDaneWPunkcieEnergiiNiezbilansowania">
        <xs:sequence>
            <xs:element name="P" type="tNumerPozycjiDlaPT15M"/>
            <xs:element name="TEN" type="tCenyJB"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>