src/xmlProvider/xsd/DEF_SPR/DEF_RHER/DEF_RHER_MB/DEF-RHER-MB-PPOM.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-MB-HL.xsd"/>

    <xs:complexType name="tDaneRozliczenioweEnergiiPP">
        <xs:sequence>
            <xs:element name="KPP" type="tKodPunktuPomiarowego"/>
            <xs:element name="HL" type="tHierarchiaPP" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>