src/xmlProvider/xsd/DEF_RBUS/DEF_RHUS/DEF-RHUS-OBUS.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-TS-OBUS.xsd"/>

    <xs:complexType name="tDaneIdentyfikacyjneObiektu">
        <xs:sequence>
            <xs:element name="KOB" type="tKodObiektu"/>
            <xs:element name="NOB" type="tNazwaObiektu" minOccurs="0"/>
            <xs:element name="TS" type="tGrafikObiektu" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>