src/xmlProvider/xsd/DEF_RBUS/DEF_RHK/DEF_RHK_RHEB/DEF-RHEB-JG.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-RHEB-EBJ.xsd"/>

    <xs:complexType name="tDaneJGEnergiiBilansujacej">
        <xs:sequence>
            <xs:element name="KDUB" type="tKodDostawcyUslug"/>
            <xs:element name="KJG" type="tKodJednostkiGrafikowej"/>
            <xs:element name="EBJ" type="tDaneIloscioweEBJ" minOccurs="2" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>