src/xmlProvider/xsd/DEF_INMBU/DEF-INMBU-TSZ.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-INMBU-TSP.xsd"/>

    <xs:complexType name="tGrafikZmianyStanu">
        <xs:sequence>
            <xs:element name="mRID" type="tIdentyfikator"/>
            <xs:element name="CT" type="tTypKrzywejGrafiku"/>
            <xs:element name="TSP" type="tOkresDanychGrafikuZmianyStanu"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>