src/xmlProvider/xsd/DEF_GWM/GWM-schedule-xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="schedule-xml.xsd" xmlns:def="schedule-xml.xsd" targetNamespace="schedule-xml.xsd" xmlns:ecc="etso-core-cmpts.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
	ecc:VersionRelease="7.0">
	<xsd:import namespace="etso-core-cmpts.xsd" schemaLocation="GWM-etso-core-cmpts.xsd"/>
	<!--
			ETSO Document Automatically generated from a UML class diagram using XMI.
			Generation tool version 1.7
		-->
	
	<xsd:element name="ScheduleMessage">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation/>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="MessageIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MessageVersion" type="ecc:VersionType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MessageType" type="ecc:ScheduleMessageType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ProcessType" type="ecc:ProcessType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ScheduleClassificationType" type="ecc:ClassificationType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="ecc:ORPartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="ecc:OSPPartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MessageDateTime" type="ecc:MessageDateTimeType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ScheduleTimeInterval" type="ecc:TimeIntervalType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Domain" type="ecc:AreaType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SubjectParty" type="ecc:PartyType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SubjectRole" type="ecc:RoleType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MatchingPeriod" type="ecc:TimeIntervalType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ScheduleTimeSeries" type="ScheduleTimeSeries_Type" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="DtdVersion" type="xsd:string" use="required"/>
			<xsd:attribute name="DtdRelease" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ScheduleTimeSeries_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SendersTimeSeriesIdentification" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendersTimeSeriesVersion" type="ecc:VersionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessType" type="ecc:BusinessType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Product" type="ecc:EnergyProductType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectAggregation" type="ecc:ObjectAggregationType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InArea" type="ecc:AreaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OutArea" type="ecc:AreaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeteringPointIdentification" type="ecc:MeteringPointType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InParty" type="ecc:PartyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OutParty" type="ecc:PartyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CapacityContractType" type="ecc:ContractType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CapacityAgreementIdentification" type="ecc:IdentificationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasurementUnit" type="ecc:UnitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period" type="Period_Type"/>
			<xsd:element name="Reason" type="Reason_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Period_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Resolution" type="ecc:ResolutionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Interval" type="Interval_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Interval_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Pos" type="ecc:PositionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Qty" type="ecc:QuantityType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Reason_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReasonCode" type="ecc:ReasonCodeType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>