src/xmlProvider/xsd/DEF_SPR/DEF_RHER/DEF_RHER_MB/DEF_RHER_ALG/DEF-MB-ALG.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.pse.pl/osp"
           targetNamespace="http://www.pse.pl/osp"
           elementFormDefault="qualified">

    <xs:include schemaLocation="DEF-MB-ALG-TS.xsd"/>

    <xs:complexType name="tDaneRozliczenioweAlgorytmMB">
        <xs:sequence>
            <xs:element name="KALG" type="tKodAlgorytmu"/>
            <xs:element name="TS" type="tGrafikAlgorytmuMB"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>